@model List<datafirst.Models.Customer>
@{
    ViewBag.Title = "GermanCustomers";
}

<h2>GermanCustomers</h2>

<table class="table">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.CustomerID</td>
            <td>@customer.CompanyName</td>
        </tr>
    }
</table>

